.section-k8-dms-poppy-contact {

	text-align: center;
	.icallout-head{
		
		margin-bottom:12px;
	}
	.format-inline{
		.icallout-head{
			font-size: 37px;
			line-height: 1em;
		}
		.icallout-head,
		.icallout-action{
			display: inline-block;
			margin: 10px 15px;
			
			vertical-align: top;
		}
	}
	

}

.poppy{
  font-size: 14px;
  color: #000;
  font-family: 'helvetica neue', 'helvetica', arial, sans-serif;
  overflow: hidden;
  .modal-header{
    h3{
      font-size: 24px;
    }
    .close{
      line-height: 20px;
    }
    background:#f7f7f7;
    box-shadow: inset 1px 1px 0 #fff;
  }

  .poppy-msg{
    height: 170px;
  }
  .poppy-input{
    width: 49%;
  }
  .k8-poppy-email{
    float:right;
  }
  .k8-poppy-msg{
    min-height:120px;
  }
  .poppy-custom{
    margin-top: 10px;
    width: 100%;
  }
  form{
    margin: 0;
  }
  .poppy-response{
    margin-bottom: 1em;
    display: none;
  }
}
.poppy-pointer{
  cursor:pointer;
}